.fondo {
    --background: linear-gradient(48deg, #b1d8fcc5 0%, #fde7fc 100%);
}

@media (max-width: 768px) {
    .escritorio {
        display: none;
    }
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }
}

.quieto {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.sel {
    border: solid var(--ion-color-primary) 3px;
    background: white;
}

.unSel {
    cursor: pointer;
    background: white;
}