ion-menu {
    max-width: 250px!important;
}

ion-content.background {
    --background: url(../assets/img/fondo-menu.png) 0 0/100% 100% no-repeat;
    --webkit-background-size: cover;
}

.activo {
    border-right: 6px solid #045bfb;
    background-color: #0e0e29 !important;
}