<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mapa</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <agm-map [latitude]="ubicacion.lat" [longitude]="ubicacion.lng" [disableDefaultUI]="true" [streetViewControl]="false" [zoomControl]="false" [fitBounds]="true" fitBoundsPadding="bottom: 10; left: 10; right: 10; top: 10">
        <agm-marker *ngFor="let item of repartidores" [agmFitBounds]="true" (markerClick)="verRepartidor(item)" [iconUrl]='{"url": icon,"scaledSize": {"height": 80, "width": 60}}' [latitude]="item.ubicacion.lat" [longitude]="item.ubicacion.lng" [animation]="'DROP'"></agm-marker>
    </agm-map>
    <div class="cuadro" *ngIf="verChofer">
        <div style="width: 100%; height: 100%;" *ngIf="!calPend">
            <ion-item lines="none" style="margin-top: 1rem">
                <ion-avatar slot="start">
                    <img [src]="repartidor.foto" />
                </ion-avatar>
                <ion-label>
                    <h2>{{repartidor.nombre}}</h2>
                </ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-button slot="end" fill="outline" (click)="llamar()">
                    <ion-icon style="margin-right: 0.5rem" name="call"></ion-icon> Llamar
                </ion-button>
            </ion-item>
        </div>
    </div>
</ion-content>