agm-map {
    height: 100vh;
}

.cuadro {
    position: absolute;
    width: 80vw;
    height: 15vh;
    left: 10vw;
    bottom: 3rem;
    background: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px grey;
}