<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Repartidores</ion-title>
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
        </ion-item>
    </ion-toolbar>
    <ion-toolbar color="primary" class="mobile">
        <ion-segment [disabled]="!repaReady">
            <ion-segment-button value="lista" [checked]="pagina === 'lista'">
                <ion-label>Lista</ion-label>
            </ion-segment-button>
            <ion-segment-button [disabled]="repartidores && repartidores.length === 0" value="mapa" [checked]="pagina === 'mapa'">
                <ion-label>Mapa</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="repaReady; else elseTemplate">
        <ion-searchbar (ionChange)="busca()" [(ngModel)]="txtSearch" placeholder="Escribe el nombre del vendedor"></ion-searchbar>
        <ion-grid class="ion-no-padding escritorio">
            <ion-row>
                <ion-col size-md="4" size-lg="4" size-xl="4">
                    <ion-card *ngFor="let item of repartidores; let i = index" [ngStyle]="{'border': i === iSel ? 'solid var(--ion-color-primary) 5px' : null}" [style.display]="item.display">
                        <ion-item lines="none" [style.cursor]="i === iSel? null :'pointer'" (click)="ubicarRepartidor(item, i)">
                            <ion-avatar slot="start">
                                <img [src]="item.datos.foto || '../../../assets/img/chofer.png'" />
                            </ion-avatar>
                            <ion-label>
                                <h2>{{item.datos.nombre}}</h2>
                                <p>Venta: {{item.sumario.venta | currency:'CAD':'symbol-narrow':'1.0-0'}}</p>
                                <p>Gasto: {{item.sumario.gasto | currency:'CAD':'symbol-narrow':'1.0-0'}}</p>
                                <p>Viajes: {{item.sumario.viajes}}</p>
                            </ion-label>
                        </ion-item>
                        <div *ngIf="iSel === i">
                            <div *ngIf="item.sumario.venta">
                                <ng-container *ngIf="ventas.length > 0; else ventasTemplate">
                                    <ion-button expand="block" fill="clear" (click)="limpiaVentas()" color="danger">
                                        Limpiar ventas
                                    </ion-button>
                                </ng-container>
                                <ng-template #ventasTemplate>
                                    <ion-button expand="block" fill="clear" (click)="verVentas()" [disabled]="cargando && isVentas">
                                        <ion-icon style="margin-right: 0.75rem" name="trending-up"></ion-icon> Ver ventas
                                        <ion-spinner style="margin-left: 0.75rem" name="dots" *ngIf="cargando && isVentas"></ion-spinner>
                                    </ion-button>
                                </ng-template>
                            </div>
                            <ng-container *ngIf="latlng.length > 0; else ventasTemplate">
                                <ion-button expand="block" fill="clear" (click)="limpiaRuta()" color="danger">
                                    Limpiar ruta
                                </ion-button>
                            </ng-container>
                            <ng-template #ventasTemplate>
                                <ion-button expand="block" fill="clear" (click)="verRuta()" [disabled]="cargando && isRuta">
                                    <ion-icon style="margin-right: 0.75rem" name="car"></ion-icon> Ver ruta
                                    <ion-spinner style="margin-left: 0.75rem" name="dots" *ngIf="cargando && isRuta"></ion-spinner>
                                </ion-button>
                            </ng-template>
                            <div *ngIf="item.sumario.gasto">
                                <ng-container *ngIf="ventas.length > 0; else ventasTemplate">
                                    <ion-button expand="block" (click)="limpiaVentas()" color="danger">
                                        Limpiar compras
                                    </ion-button>
                                </ng-container>
                                <ng-template #ventasTemplate>
                                    <ion-button expand="block" (click)="verGastos()" [disabled]="cargando && isVentas">
                                        <ion-icon style="margin-right: 0.75rem" name="trending-up"></ion-icon> Compras
                                        <ion-spinner style="margin-left: 0.75rem" name="dots" *ngIf="cargando && isVentas"></ion-spinner>
                                    </ion-button>
                                </ng-template>
                            </div>
                        </div>
                    </ion-card>
                </ion-col>
                <ion-col size-md="8" size-lg="8" size-xl="8">
                    <div class="quieto">
                        <div class="cuadro-detalles" *ngIf="detallesViajes.length > 0">
                            <ion-grid class="ion-no-padding">
                                <ion-row style="text-align: center">
                                    <ion-col style="border: 1px solid white; background: var(--ion-color-primary); color: white">
                                        Viaje
                                    </ion-col>
                                    <ion-col style="border: 1px solid white; background: var(--ion-color-primary); color: white">
                                        Venta
                                    </ion-col>
                                    <ion-col style="border: 1px solid white; background: var(--ion-color-primary); color: white">
                                        Inicio
                                    </ion-col>
                                    <ion-col style="border: 1px solid white; background: var(--ion-color-primary); color: white">
                                        Valida
                                    </ion-col>
                                    <ion-col style="border: 1px solid white; background: var(--ion-color-primary); color: white">
                                        Fin
                                    </ion-col>
                                    <ion-col style="border: 1px solid white; background: var(--ion-color-primary); color: white">
                                        Valida
                                    </ion-col>
                                </ion-row>
                                <ion-row style="text-align: center" *ngFor="let viaje of detallesViajes">
                                    <ion-col style="border-right: 1px solid var(--ion-color-primary);">
                                        {{viaje.viaje}}
                                    </ion-col>
                                    <ion-col style="border-right: 1px solid var(--ion-color-primary);">
                                        {{viaje.venta | currency:'CAD':'symbol-narrow':'1.0-0'}}
                                    </ion-col>
                                    <ion-col style="border-right: 1px solid var(--ion-color-primary);">
                                        {{viaje.inicio}}
                                    </ion-col>
                                    <ion-col style="border-right: 1px solid var(--ion-color-primary);">
                                        {{viaje.validaInicio}}
                                    </ion-col>
                                    <ion-col style="border-right: 1px solid var(--ion-color-primary);">
                                        {{viaje.fin}}
                                    </ion-col>
                                    <ion-col style="border-right: 1px solid var(--ion-color-primary);">
                                        {{viaje.validaFin}}
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                        <agm-map style="height: 90vh;" [latitude]="ubicacion.lat" [longitude]="ubicacion.lng" [disableDefaultUI]="true" [streetViewControl]="false" [zoomControl]="false" [fitBounds]="true" maxZoom="17" fitBoundsPadding="bottom: 10; left: 10; right: 10; top: 10">
                            <agm-marker *ngFor="let item of repartidores; let i = index" [agmFitBounds]="true" (markerClick)="verRepartidor(item, i)" [iconUrl]='{"url": item.icon || icon,"scaledSize": {"height": 80, "width": 60}}' [latitude]="item.ubicacion.lat" [longitude]="item.ubicacion.lng"
                                [animation]="'DROP'"></agm-marker>
                            <agm-marker *ngFor="let item of ventas; let i = index" [agmFitBounds]="true" (markerClick)="verInfoCliente(item, i)" [latitude]="item.Datos.lat" [longitude]="item.Datos.lng" [animation]="'DROP'" label="{{i + 1}}">
                                <agm-info-window [disableAutoPan]="true" [isOpen]="isInfoWindowOpen(i)">
                                    <strong>Cliente: {{item.Datos.cliente? item.Datos.cliente : 'No registrado'}} <ion-spinner *ngIf="!cliente" name="dots"></ion-spinner></strong><br> Hora: {{item.Datos.hora | date: 'shortTime'}} <br> Total: {{item.Datos.total
                                    | currency:'CAD':'symbol-narrow':'1.0-0'}}
                                </agm-info-window>
                            </agm-marker>
                            <agm-polyline *ngFor="let point of latlng; let i = index;" [strokeColor]="point.speed < 14 ? '#2196f3': 'red'">
                                <agm-polyline-point [latitude]="point.lat" [longitude]="point.lng">
                                </agm-polyline-point>
                                <ng-container *ngIf="latlng[i+1]">
                                    <agm-polyline-point [latitude]="latlng[i+1].lat" [longitude]="latlng[i+1].lng">
                                    </agm-polyline-point>
                                </ng-container>
                            </agm-polyline>
                        </agm-map>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div [ngSwitch]="pagina" class="mobile">
            <div *ngSwitchCase="'lista'">
                <ion-card *ngFor="let item of repartidores; let i = index">
                    <ion-item lines="none" (click)="ubicarRepartidor(item, i)" detail>
                        <ion-avatar slot="start">
                            <img [src]="item.datos.foto || '../../../assets/img/chofer.png'" />
                        </ion-avatar>
                        <ion-label>
                            <h2>{{item.datos.nombre}}</h2>
                            <p>Venta: {{item.sumario.venta | currency:'CAD':'symbol-narrow':'1.0-0'}}</p>
                            <p>Gasto: {{item.sumario.gasto | currency:'CAD':'symbol-narrow':'1.0-0'}}</p>
                            <p>Viajes: {{item.sumario.viajes}}</p>
                        </ion-label>
                    </ion-item>
                </ion-card>
            </div>
            <div *ngSwitchCase="'mapa'">
                <agm-map style="height: 100vh;" [latitude]="ubicacion.lat" [longitude]="ubicacion.lng" [disableDefaultUI]="true" [streetViewControl]="false" [zoomControl]="false" [fitBounds]="true" maxZoom="17" fitBoundsPadding="bottom: 10; left: 10; right: 10; top: 10">
                    <agm-marker *ngFor="let item of repartidores; let i = index" [agmFitBounds]="true" (markerClick)="verRepartidor(item, i)" [iconUrl]='{"url": item.icon || icon,"scaledSize": {"height": 80, "width": 60}}' [latitude]="item.ubicacion.lat" [longitude]="item.ubicacion.lng"
                        [animation]="'DROP'"></agm-marker>
                </agm-map>
                <div class="cuadro" *ngIf="verChofer">
                    <app-cuadro-mapa [persona]="repartidor" (cierra)="deSelect()" (clientes)="verVentas()" (ruta)="verRuta()"></app-cuadro-mapa>
                </div>
            </div>
        </div>

    </ng-container>
    <ng-template #elseTemplate>
        <ion-item class="escritorio">
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="4">
                        <ion-card *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                            <ion-label>
                                <h3>
                                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                                </h3>
                                <p>
                                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                                </p>
                                <p>
                                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                                </p>
                            </ion-label>
                        </ion-card>
                    </ion-col>
                    <ion-col size="8">
                        <ion-skeleton-text animated style="width: 100%; height: 90vh"></ion-skeleton-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]" class="mobile">
            <ion-thumbnail slot="start">
                <ion-skeleton-text></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
    </ng-template>

</ion-content>