<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Productos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="prodsReady; else elseTemplate">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="4" *ngFor="let item of productos; let i = index;">
                    <div style="width: 100%; height: 100%;">
                        <ion-card id="card-user">
                            <ion-grid fixed>
                                <ion-row>
                                    <ion-col size="12">
                                        <preload-image id="foto" [ratio]="{w: 0.5, h: 0.25}" [src]="item.foto" (click)="enfoca(i)">
                                        </preload-image>
                                        <input style="display: none" (change)="cropImage($event, 'edit')" type="file" [attr.id]="'foto' + i">
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="12">
                                        <ion-item lines="none" style="text-align: center;">
                                            <ion-label>
                                                <h1 style="color: var(--ion-color-primary);">
                                                    {{item.nombre}}
                                                </h1>
                                                <h2>{{item.precio | currency:'CAD':'symbol-narrow':'1.0-0'}} / {{item.unidad}}</h2>
                                            </ion-label>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                            <div id="editar-icon">
                                <ion-icon (click)="editar(item, i)" color="primary" style="margin-left: 0.75rem; cursor: pointer;" name="create"></ion-icon>
                            </div>
                            <div id="borrar-icon">
                                <ion-icon (click)="presentAlertConfirm(item, i)" color="primary" style="margin-left: 0.75rem; cursor: pointer;" name="create"></ion-icon>
                            </div>
                        </ion-card>
                    </div>
                </ion-col>
                <ion-col class="ion-align-self-end" size="4" style="cursor: pointer;">
                    <div style="position: relative; width: 100%; height: 100%;">
                        <ion-card id="card-user" style="padding-top: 0;">
                            <ion-img style="height: 100%;" src="../../../assets/img/plus.jpg" (click)="nuevo.click()"></ion-img>
                            <input style="display: none" (change)="cropImage($event, 'nuevo')" type="file" #nuevo>
                        </ion-card>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-container>
    <ng-template #elseTemplate>
        <ion-grid fixed>
            <ion-row>
                <ion-col size="4" *ngFor="let item of [1,2,3,4,5]">
                    <div style="width: 100%; height: 100%;">
                        <ion-card id="card-user">
                            <ion-skeleton-text id="skel" animated></ion-skeleton-text>
                        </ion-card>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-template>


</ion-content>