#card-user {
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.4);
    height: 175px;
    padding-top: 2rem;
}

#foto {
    top: -2.5rem;
    position: absolute;
    height: 5rem;
    width: 5rem;
    left: 50%;
    margin-left: -2.5rem;
}

#editar-icon {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 20pt;
}