<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Colaboradores</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="colaboradores.length > 0; else elseTemplate">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="4" *ngFor="let item of colaboradores; let i = index;" style="padding-top: 2.5rem;">
                    <div style="position: relative; width: 100%; height: 100%;">
                        <ion-card id="card-user">
                            <ion-item lines="none" style="text-align: center;">
                                <ion-label>
                                    <h1 style="color: var(--ion-color-primary);">
                                        {{item.nombre}}
                                    </h1>
                                    <h2>{{item.puesto}}</h2>
                                    <p>{{item.sueldo | currency:'CAD':'symbol-narrow':'1.0-0'}}</p>
                                </ion-label>
                            </ion-item>
                            <div style="position: absolute; top: 0; right: 0;">
                                <ion-icon color="primary" style="margin-left: 0.75rem;" name="create"></ion-icon>
                            </div>
                        </ion-card>
                        <ion-avatar id="foto">
                            <img [src]="item.url || '../../../assets/img/chofer.png'" (click)="enfoca(i)" />
                            <input style="display: none" (change)="cropImage($event)" type="file" [attr.id]="'foto' + i">
                        </ion-avatar>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div style="position: relative; width: 100%; height: 100%;">
                        <ion-card id="card-user" style="padding-top: 0;">
                            <ion-img style="height: 100%;" src="../../../assets/img/plus.jpg"></ion-img>
                        </ion-card>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-container>
    <ng-template #elseTemplate>

    </ng-template>

</ion-content>