#content {
    height: 100%;
    widows: 100%;
    text-align: center;
}

.profile {
    margin-top: 0vh;
    padding-top: 1.5rem;
    background: var(--ion-color-primary);
    --background: var(--ion-color-primary);
    text-align: center;
}

.foto {
    height: 8rem;
    width: 8rem;
    margin: auto;
}

.relleno {
    width: 100vw;
    height: 5rem;
    margin-top: -0.5rem;
    background: var(--ion-color-primary);
}