.profile {
    margin-top: 0vh;
    padding-top: 1.5rem;
    background: var(--ion-color-primary);
    --background: var(--ion-color-primary);
    text-align: center;
}

#foto {
    margin: auto;
    height: 7rem;
    width: 7rem;
}

.relleno {
    width: 100vw;
    height: 5rem;
    margin-top: -0.5rem;
    background: var(--ion-color-primary);
}

.cuadro-opciones {
    width: 90%;
    margin-left: 5%;
    margin-top: -3.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 10px;
    background: white;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.4);
}