.fondo {
    --background: linear-gradient(48deg, #b1d8fcc5 0%, #fde7fc 100%);
}

.carta {
    background: white;
    text-align: center;
    box-shadow: 0px -1px 10px #00000066;
}

#azul-claro {
    --color: #a5d2fd;
}